{% extends 'base.html'%}

{% block title %}
Про мене
{% endblock%}

{% block content %}

<div class="card">
    <div class="content">
        <h2>Коротко про мене</h2>
        <div class="images">
        <img src="./static/images/photo_2022-01-23_20-24-15.jpg">
    </div>
    <p>Привіт, мене звати Роман. Народився 15 квітня 2007 року в селі Воскресенка, що розташоване в Генічеському районі Херсонської області. 
        З самого дитинства полюбляю футбол. Доволі багато приділяв цьому час. Протягом шести місяців, ми разом зі своїми близькими пережили часи окупації та на при кінці літа виїхали до Львова. 
        Ніколи напевно не забуду як це було.
        Наразі я студент Вищого професійного училища №29 у місті Львів. 
        Тут я зустрів багато нових друзів і цікавих людей, з якими разом продовжую вчитись.
        Це лише початок мого шляху, і я з нетерпінням чекаю на те, що приготувало для мене майбутнє.</p>
    </div>
</div>
{% endblock %}