{% extends 'base.html'%}

{% block title %}
Новини
{% endblock%}

{% block content %}
<div class="leftcolumn">
    <div class="content">
        <h2>IT FUTURE CONF 2023</h2>
        <h5>6 травня, 2023</h5>
        <div class="images">
          <img src="./static/images/IMG_5088.jpg" >
          </div>
        <p>IT Future Conf 2023 — це дводенна онлайн-конференція для старшокласників, вчителів інформатики та всіх охочих дізнатися більше про тех-галузь і найкращі заклади, де можна здобути ІТ-спеціальність.
          На цій конференції спікери з різних сфер ділилися своїм досвідом та давали свої поради та відповідали на запитання учнів.
          Мені дуже сподобалась дана конференція, було цікаво та круто, після конференції нам ще провели екскурсію офісом IT-компанії Intellias.
        </p>
        </p>
      </div>
</div>
<div class="rightcolumn">
    <div class="content">
        <h2>Змагання з ДЖУРИ</h2>
        <h5>23 травня, 2023</h5>
        <div class="images">
          <img src="./static/images/IMG_20230523_195317_719.jpg">
        </div>
        <p>Цього дня я з своєю командою брали участь у військо-патріотичних змаганнях: «Сокіл»(«Джура»).
          Було дуже багато завданнь, такі як марширування, перетягування канату, перенесення пораненого, стрільба, смуга перешкод і т.д.
          Незважаючи на велику кількість завдань та конкуренцію інших команд, наш рій "Битва за волю" зайняв перше місце з даних змагань.</p>
      </div>
</div>
{% endblock%}